<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>오운완 | 게시글 상세페이지</title>
  <script src="../assets/js/urls.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="../assets/js/nav.js"></script>
  <!-- <script src="./user/user_api.js"></script> -->
  <script src="../assets/js/api.js"></script>
  <script src="../assets/js/article_detail.js"></script>
  <script src="../assets/js/article_api.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../assets/css/article_detail.css">
</head>

<body>
  <!-- 상단 네비게이션바 -->
  <div id="navbar-container"></div>
  <!-- 상단 네비게이션 끝-->

  <!-- 게시글 -->
  <div class="main">
    <div class="container">
      <div class="article_title">
        <h2 class="article_content" id="article_content">게시글 제목</h2>
        <p class="article_user" id="article_user">작성자</p>
      </div>

      <div class="article" id="article">
        <div class="article_image" id="article_image"></div>

        <!-- 게시글 입력 정보 -->
        <div class="article_text">
          <p class="exercise_day"> 운동 날짜:
          <div class="article_day">
            <li id="article_day">입력 날짜</li>
          </div>
          </p>

          <p class="exercise_category">운동 종류:
          <div class="article_category">
            <li id="article_category">입력 장소</li>
          </div>

          <div class="exercise_category_list">
            <li class="article_in" id="article_in">실내 </li>
            <li class="article_out" id="article_out">실외 </li>
          </div>
          </p>

          <p class="exercise_time">운동 시간(분):
          <div class="article_time">
            <li id="article_time">입력 시간</li>
          </div>
          </p>

          <p class="exercise_status">운동 완료여부:
          <div class="article_status">
            <li id="article_status">완료 여부</li>
          </div>
          </p>
        </div>
      </div>

      <!-- 게시글 버튼 list -->
      <div class="button_box">
        <div class="btn_list">
          <button class="btn btn-dark" onclick="loadFeed()">목록</button>
        </div>
        <button class="btn btn_org" id="likes" onclick="articleLike()">🤍</button>
        <li id="like_count">0</li>
        <div id="article_edit">
          <button class="btn btn-outline-dark" id="put" onclick="articleLoadPut()"></button>
          <button class="btn btn-outline-dark" id="delete" onclick="articleDelete()"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="comment_box">
    <!-- 댓글 저장 공간-->
    <div class="container_savebox" id="article_comment">
      <ul class="list-style" id="comment_list"></ul>
    </div>
    <!-- 댓글 작성 -->
    <div class="container_comment">
      <div class="comment_input_box">
        <input type="text" class="form-control" id="new_comment" placeholder="댓글은 30자까지 작성하실 수 있습니다."
          aria-label="comment">
      </div>
      <div class="comment_btn">
        <button type="button" class="btn btn-dark" onclick="submitComment()">등록</button>
      </div>
    </div>
  </div>
</body>

</html>