<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>오운완 | 이메일 인증</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/email_verify.css" />
    
    <!-- JS -->
    <script src="../assets/js/urls.js"></script>
    <script src="/assets/js/email_verify.js"></script>

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>

    <!-- 파비콘 -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png">
    <link rel="android-chrome-192x192" sizes="192x192" href="/assets/images/favicon_io/android-chrome-192x192.png">
    <link rel="android-chrome-512x512" sizes="512x512" href="/assets/images/favicon_io/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png">
  </head>


<body>
  <main>
    <div class="main-container">
      <section class="container-email">
        <div class="form-email">

          <div class="form-content">
            <header>회원 가입을 축하합니다!</header>
            <div class="email-verify-box">
                <div class="email-verify-text">
                    <div class="msg-text1">&lt;오운완&gt;에 가입해주셔서 감사합니다.</div>
                    <div class="msg-text2">지금부터 &lt;오운완&gt;의 서비스를 이용하실 수 있습니다.</div>        
                    <div class="email-verify-btn">
                        <button type="button" class="email-btn" id="in-login" onclick="login()">로그인하러 가기</button>
                    </div>
                </div>
            </div>
            <div class="email-team">
                <p class="team">&copy; 오운완 TEAM PROJECT</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>
