<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/footer.css" />
  </head>

  <body>
    <!-- 푸터 시작 -->
    <!-- 추후 수정 예정 -->
    <hr class="line" />
    <div class="container-footer">
      <footer class="custom-footer">
        <div class="main-footer">
          <div class="footer flex-column">
            <a
              class="text-decoration-none"
              href="/index.html"
              class="d-flex align-items-center mb-3 link-dark text-decoration-none"
            >
              <img
                src="/assets/images/ooo-removebg-preview.png"
                alt="TodayWorkLogo"
              />
            </a>
            <div class="footer_url_box">
              <a
                class="text-decoration-none text-black text-start"
                href="https://github.com/jstyoon/A8ooo"
                >Github_back_url</a
              >
              <br />
              <a
                class="text-decoration-none text-black text-start"
                href="https://github.com/rlfrhdiddl/A8ooo_fr"
                >Github_fornt_url</a
              >
            </div>
          </div>

          <div class="footer-text1">
            <h5>이윤성</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a
                  href="https://github.com/jstyoon"
                  class="nav-link p-0 text-muted"
                  >GitHub</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Blog</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About</a>
              </li>
            </ul>
          </div>

          <div class="footer-text2">
            <h5>박소진</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a
                  href="https://github.com/jinyjin7"
                  class="nav-link p-0 text-muted"
                  >GitHub</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Blog</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About</a>
              </li>
            </ul>
          </div>

          <div class="footer-text3">
            <h5>나명흠</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a
                  href="https://github.com/rlfrhdiddl"
                  class="nav-link p-0 text-muted"
                  >GitHub</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Blog</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About</a>
              </li>
            </ul>
          </div>

          <div class="footer-text4">
            <h5>박종원</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a
                  href="https://github.com/Dabit0205"
                  class="nav-link p-0 text-muted"
                  >GitHub</a
                >
              </li>
              <li class="nav-item mb-2">
                <a
                  href="https://velog.io/@jongwonparkk"
                  class="nav-link p-0 text-muted"
                  >Blog</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About</a>
              </li>
            </ul>
          </div>

          <div class="footer-text5">
            <h5>방기호</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a
                  href="https://github.com/Tomatopizza"
                  class="nav-link p-0 text-muted"
                  >GitHub</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Blog</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">About</a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <hr class="under-line" />
    <div class="under-text">
      <p class="text-muted">문의주실곳 : psjin977@naver.com</p>
      <p class="text-muted">&copy;2023 오운완 TEAM PROJECT</p>
    </div>
  </body>
</html>
