<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>오운완 | 프로필</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/profile.css">
    
    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/urls.js"></script>
    <script src="../assets/js/nav.js"></script>
    <script src="../assets/js/footer.js"></script>
    <script src="../assets/js/profile.js"></script>
    <!-- <script src="../assets/js/profile.js"></script> -->
    <!-- <script src="/assets/js/profile_update.js"></script> -->

</head>

<body>


    <!-- 상단 네비게이션바 -->
    <div id="navbar-container"></div>
    <!-- 상단 네비게이션 끝-->


        <div class="row mt-5 align-items-center">
            <div class="col-md-5 text-center mb-5">
                <div class="avatar avatar-xl">
                    <img src="#" alt="..." class="avatar-img rounded-circle" id="photo"/>
                </div>
            </div>
            <div class="col">
                <div class="row align-items-center">
                    <div class="col-md-7" style="margin-left: 100px; margin-bottom: 7px;">
                        <h4 class="mb-1" id="username">Username</h4>
                        <p class="small mb-3"><span class="badge badge-dark"></span></p>
                    </div>
                    
                </div>
                <div class="row mb-4">
                    <span id="email" style="margin-left: 100px;margin-bottom: 20px;">Email</span>
                    <div class="col-md-7">
                        <p class="text-muted" style="margin-left: 100px;" id="aboutme">
                            aboutme
                        </p>
                    </div>
                </div>
            </div>
            <!-- <form id="imgForm">
                <input type="file" value="none" id="photo" onchange="setThumbnail(event);">
            </form>
        </div>
        <div class="image-view" id="imgthumbnail2"></div> -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-dark me-md-4" type="button" onclick="loadPutProfile()">프로필 수정</button>
                <button class="btn btn-outline-danger me-md-4" type="button" onclick="changePW()">비밀번호 변경</button>
              </div>
        </div>
        <hr class="my-4" />
            <div class="mylist_name"><strong>나의 운동 기록</strong></div>
            <div class="form-group">
            <ul class="list-group" id="article_mylist" class="mylist"></ul> 
        </div>
        <div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
        <button id="loadMore" type="button" class="btn btn-dark more">더 보기</button>
    </div>
        <hr class="my-4" />
    </form>
                    <!-- <div class=" permission">
                        <button id="withdrawal-btn" class="btn btn-danger" onclick="UserDelete()">탈퇴하기</button>
                    </div> -->
                </div>
        </form>
    </div>
    </div>
    <!-- 하단 푸터 시작-->
    <div id="footer-container"></div>
    <!-- 하단 푸터 끝-->
</body>

</body>


</html>