<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>오운완 | 로그인</title>
  
  <!-- CSS only -->
  <link rel="stylesheet" href="/assets/css/login.css" />

  <!-- JS -->
  <script src="../assets/js/urls.js"></script>
  <script src="/assets/js/user_api.js"></script>

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

  <!-- 파비콘 -->
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_io/favicon-16x16.png">
  <link rel="android-chrome-192x192" sizes="192x192" href="/assets/images/favicon_io/android-chrome-192x192.png">
  <link rel="android-chrome-512x512" sizes="512x512" href="/assets/images/favicon_io/android-chrome-512x512.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_io/apple-touch-icon.png">
</head>


<body>
  <main>
    <div class="main-container">
      <section class="container forms">
        <div class="form login">
          <div class="login-logo">
            <a href="/template/index.html"><img src="/assets/images/ooo-removebg-preview.png" alt="상단로고"
                width="100"></a>
          </div>
          <div class="form-content">
            <header>로그인</header>
            <form>
              <div class="field input-field">
                <input type="text" id="floatingInput" placeholder="Email" class="input_id">
              </div>
              <div class="field input-field">
                <input type="password" id="floatingPassword" placeholder="Password" class="input_password">
                <i class='bx bx-hide eye-icon'></i>
              </div>
              <div class="form-link">
                <a href="./reset_pw.html" class="forgot-pass">비밀번호 찾기</a>
              </div>
              <div class="field button-field">
                <button type="button" class="login-btn" onclick="handleLogin()">로그인</button>
              </div>
            </form>
            <div class="form-link">
              <span>오늘 운동 안하실건가요? <a href="./register.html" class="link signup-link">회원가입</a></span>
            </div>
            <p class="team">&copy; 오운완 TEAM PROJECT</p>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>