@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight:300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

.update_modal_body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303031;
    column-gap: 30px;
}

.container_update {
    width: 100%;
  }

.article_post {
    max-width: 600px;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    max-height: 90vh;
    overflow-y: auto;
}

#img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid black;
}

.article_post h3{
    text-align: center;
}