@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.main {
  margin: 20px 20px 20px 20px;
  font-family: 'KimjungchulMyungjo-Bold', sans-serif;
}

.article_list {
  /*display: flex;
  flex-direction: column;
  align-items: center; /* 카드를 수직 가운데 정렬합니다. */
  justify-content: center;
}

.card {
  width: 100%;
  /* 카드의 너비 */
  height: 400px;
  /* 카드의 높이 */
  position: relative;
  /* 상대적 위치 설정 */
  display: flex !important;
  flex-direction: row !important;
  align-items: middle;
  margin-bottom: 10px;
}

.card-body {
  display: grid !important;
  grid-template-columns: auto 200px;
}

.img-size {
  width: 300px;
  height: 200px;
  vertical-align: middle;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}

.collector {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
  grid-template-columns: 2/3;
  font-size: 18px;
  list-style-type: none;
}

.card-title-box {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  margin-top: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-title {
  font-size: 30px;
  list-style-type: none;
}

.like_count {
  background-image: url(/assets/images/free-icon-exercise-2840241.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  /* 이미지 크기 */
  padding-left: 36px;
  /* 내부 여백 */
}

.comment_count {
  background-image: url(/assets/images/free-icon-chat-8316191.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  /* 이미지 크기 */
  padding-left: 36px;
  /* 내부 여백 */
}

.created_at {
  background-image: url(/assets/images/free-icon-timer-6340607.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  /* 이미지 크기 */
  padding-left: 36px;
  /* 내부 여백 */
}

.button_box{
  display: flex;
  justify-content: center;
}

.button-container {
  justify-content: center;
}

.button-container button{
  width: 100px;
}

#currentPage{
  display: flex;
  align-items: center;
}