@font-face {
    font-family: 'KimjungchulMyungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
 
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'KimjungchulMyungjo-Bold', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303031;
    column-gap: 30px;
}

.form {
    position: absolute;
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

.login-logo {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    height: 100px;
    margin-bottom: 30px;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

/* login button css */
.field.button-field {
    text-align: center;
    margin-bottom: 20px;
}

.login-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    text-decoration: none;
    background-color: #8b8b8b;
    color: black;
    border-radius: 25px;
    cursor: pointer;
    width: 300px;
    font-weight: bold;
}

.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

/* 회원가입, 비밀번호 찾기 css */
.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.form-link a {
    font-size: 20px;
    font-weight: 400;
    color: blue;
}

.form-content a:hover {
    text-decoration: underline;
}

.team {
    font-size: 20px;
    text-align: center;
    margin-top: 80px;
}