@charset "UTF-8";

body {
  color: #8e9194;
}

.rounded-circle {
  border-radius: 50% !important;
}

.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mylist_name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:26px;
  margin-bottom: 30px;
}

.btn btn-dark more {
  display: flex;
  align-items: center;
  justify-content: center;

}

.avatar-img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.text-muted{
  width:500px;
  word-wrap: break-word;
}