@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*{
  font-family: 'KimjungchulMyungjo-Bold', sans-serif;
  }

.calenderWeather {


}

.cardContainer {
  width: 25%;
  background-size: contain;
  padding: 10;
  float:right;
  display:inline-block;
  margin-right: 10px;
  font-size: 50%;
  }

.fontContainer {
  font-size: 1vw;
  }
