.calenderWeather {


}

.cardContainer {
  width: 25%;
  background-size: contain;
  padding: 10;
  float:right;
  display:inline-block;
  margin-right: 10px;
  font-size: 50%;
  

  }
.fontContainer {
  font-size: 1vw;

  

  }
