@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight:300;
  font-style: normal;
}

*{
  font-family: 'IBMPlexSansKR-Regular', sans-serif;
  }

.calenderWeather {


}

.cardContainer {
  width: 25%;
  background-size: contain;
  padding: 10;
  float:right;
  display:inline-block;
  margin-right: 10px;
  font-size: 50%;
  }

.fontContainer {
  font-size: 1vw;
  }
